.chicle:hover{
    -webkit-animation: 1s chicle 1;
}

@-webkit-keyframes chicle{
    30%{
        -webkit-transform: 
                scaleX(1.25) scaleY(0.75);
    }
    50%{
        -webkit-transform: 
                scaleX(0.75) scaleY(1.25);
    }
    60%{
        -webkit-transform: 
                scaleX(1.15) scaleY(0.85);
    }
    
}