body{
    footer{
        border-radius: 5px;
        border:1px solid #378bba;
        background: #000;
        opacity: 80%;
        width: 100%;
        align-items: center;
        .separador{
            border: 1px solid #378bba;
            width: 70%;
           margin: auto;
        }
        .primerFooter{
            h6{
                a{
                    color: white;
                    text-decoration: none;
                }
                a:hover{
                    color: #378bba;
                }
            }
            margin-bottom: 1rem!important;;
        }
        
        .redes{
            margin: auto;
            .btn-primary{
                --bs-btn-border-color: none;

            }
            a:hover{
                border-radius:50%;
                -webkit-border-radius:50%;
                box-shadow: 0px 0px 5px 5px #378bba;
                -webkit-box-shadow: 0px 0px 5px 5px #378bba;
            }
            
        }
    }
}