body{
    .seccionCuatro{
        height: 100vh;
        width: 50%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        .parrafo{
            display: flex;
            align-items: center;
            justify-content: center;
            position: center;
            p{
                padding: 10%;
            }
        }
    }
}