@import "seccionUno.scss";
@import "seccionDos.scss";
@import "seccionTres.scss";
@import "seccionCuatro.scss";

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
body {
    background-color:#000000;
    color: #fff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    border-radius: 5px;
    margin-top: auto;
    #particles-js {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: -1;
    }
    .contenedor {
        width: 80%;
        max-width: 1200px;
        background-size: cover;
        background-image: url('../img/bg-header3.jpeg');
        background-position:center;
        margin-left: auto; 
        margin-right: auto;
        margin-top: 15px;
        padding: 20px 30px;
        position: relative;
        z-index: 1;
    }
    .header {
        height: calc(100vh - 55px);
        border: 1px solid #378bba;
        border-radius: 5px;
        .navbar{
            li{
                margin: 0 40px;
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 19px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    text-transform: uppercase;
                    border-bottom: 1px solid transparent;
                    transition: .5s ease;
                }
                a:hover {
                    color: #378bba;
                    border-bottom: 1px solid currentcolor;
                }
            }
        }
        div.container-fluid{
            background-color: transparent;
            background: transparent;
        }
    }
    .contenido-descripcion {
        width: 60%;
        display: flex;
        height: 100%;
        align-items: center;
        .titulo {
            text-transform: uppercase;
            letter-spacing: 5px;
            span:first-child {
                font-size: 40px; 
                display: block;
                font-weight: 300;
            }
            span:last-child {
            font-weight: 900;
                font-size: 60px;
            }
        }
        .btn-link {
            display: inline-block;
            padding: 10px ;
            margin: 12vh 40%;
            text-transform: uppercase;
            text-decoration: none;
            color: #378bba;
            border: 1px solid #30b9db;
            animation: parpadeo 2s linear infinite;
            transition: .7s ease;
            border-radius: 5px;
        }
        .btn-link:hover {
            border: 1px solid #378bba;
            animation: none;
            background-color: #30b9db;
            font-weight: 20px;
            color: #fff;
            a{
                width: 30px;
            }
        }
    }
    .barra-navegacion .logo { 
        color:#378bba;
        font-size: 50px;
    }
}
@keyframes parpadeo  {
    0%, 20%, 40%, 60%, 80%, 100%  { 
        opacity: 1;
    }
    10%, 20%, 30%, 40%,  50%  { 
        opacity: 0; 
    }
}
